doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Planting Locations
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
      
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container.d-flex.justify-content-between
        a.navbar-brand(href="#") Home Gardener
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="/locations/create") Add Location
    .container
      h1.my-4 Planting Locations
      .row
       each location in locations
        .col-12.col-md-6
          .card.mb-4
            .card-body
              h5.card-title= location.locationName
              p.card-text Latitude: #{location.latitude}
              p.card-text Longitude: #{location.longitude}
              // Add buttons for editing and deleting
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
